*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: #eeeeee;
}

.wrapper{
    display: grid;
    grid-template-columns: 1fr;
    gap: 2em; 
    grid-template-areas:
    "header"
    "corpo"
    "mais_lidas";
}

.news_1 img{
    margin: auto;
}

#news{
    font-size: 3em;
}

#noticias{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#noticias img{
    float: inline-start;
}
#noticias p{
    margin-left: 22%;
    text-align: justify;
}
#recentes{
    float: right;
}

#noticia-destaque img{
    float: inline-start;
}
#noticia-destaque p{
    margin-left: 22%;
}
#noticia-destaque{
    margin-bottom: 6%;
}
#container{
    margin-left: 3%;
}
#container img{
    display: block;
    width: 20%;
}
#container a{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #ececec;
    background-color: #1b1b1b;
    float: inline-end;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    padding: 0 1%;
}
#container h2{
    margin: 6% auto;
}

.main-nav ul{
    display: flex;
    align-content: space-around;
    padding: 0.2em; 
    background-color: #1b1b1b
}

.main-nav a{
    display: block;
    padding: auto 10%;
    color: #eeeeee;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.mais_lidas a{
    color: #1b1b1b;
}

li{
    list-style: none;
}

.resumo{
    text-align: justify;
}

.outras_noticias{
    margin-top: 3%;
    text-align: center;
}

.another_news1, .another_news2, .another_news3{
    margin-bottom: 2%;
}

a{
    color: #eeeeee;
    text-decoration: none;
}

img{
    max-width: 100%;
    border: 0;
    display: block;
}


header{
    grid-area: header;
    background-color: #242424;
}


.caixa_login, .botao-acao, #mais-lidas, .media1, .media2{
    display: none;
}

.outros_destaques{
    margin-bottom: 3%;
}

.resumo

.noticia_lateral{
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 1em;
    text-align: center;
}

.mais_lidas{
    grid-area: mais_lidas;
    margin-right: 10%;
}



@media (max-width: 520px){
    .resumo{
        display: none;
        text-align: justify;
    }
    .outras_noticias >{
        text-align: justify;
    }
    img{
        max-width: 100%;
    }
    #container img{
        width: 100%;
        margin-left: -2%;
    }
    #noticia-destaque p{
        margin-left: 0%;
    }
    #noticias p{
        margin-left: 0%;
    }
    .mais_lidas{
        margin-right: 0%;
    }
    footer{
        text-align: center;
    }
}
@media (max-width: 900px) and (min-width:520px){
    body{
        margin: 1%;
    }
    .wrapper{
        gap: 3em;
        grid-template-columns: auto 20%;
        grid-template-areas: 
        "header header"
        "container mais_lidas"
    }
    .outras_noticias h3, .outras_noticias p{
        margin-top: 3%;
        text-align: justify;
    }
}
@media (min-width: 900px){
    .wrapper{
        gap: 3em;
        grid-template-columns: auto 20%;
        grid-template-areas: 
        "header header"
        "container mais_lidas"
    }
    .main-nav ul{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-content: center;
}
    .titulo_destaque{
        display: grid;
        grid-template-columns: 30% 70%;
        gap: 1.3em;
    }
    .texto-destaque{
        margin-right: 80%;
    }
    .news_2{
        margin-left: 3%;
    }
    footer{
        text-align: center;
        margin-left: 40%;
    }
    .outras_noticias h3, .outras_noticias p{
        margin-top: 3%;
        text-align: justify;
    }
}
