*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

html{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;  
}

.news_1 img{
    margin: auto;
}

.wrapper{
    display: grid;
    grid-template-columns: 1fr;
    gap: 2em; 
    grid-template-areas:
    "header"
    "container"
    "mais_lidas";
    text-align: center;
}

#container{
    grid-area: container;
}

.main-nav ul{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.3em;
    padding: 0.2em; 
    background-color: #242424
}

.main-nav a{
    display: block;
    padding: auto 10%;
    background-color: rgb(83, 83, 83);
    color: #eeeeee;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

li{
    list-style: none;
}

.resumo{
    text-align: justify;
}

.outras_noticias{
    margin-top: 3%;
}

a{
    color: rgb(36, 36, 36);
    text-decoration: none;
}

img{
    max-width: 100%;
    border: 0;
    display: block;
}


header{
    grid-area: header;
    background-color: white;
}


.caixa_login, .botao-acao, #mais-lidas, .media1, .media2{
    display: none;
}


#noticias{
    grid-area: noticias;
}

.texto-destaque{
    text-align: center;
    gap: 2em;
    margin-bottom: 5%;
    margin-right: 50%;
}

.noticia_lateral{
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 1em;
    text-align: center;
}

.mais_lidas{
    grid-area: mais_lidas;
}

.titulo_destaque a{
    color: #272727;
}


@media (max-width: 520px){
    .resumo{
        display: none;
        text-align: justify;
    }
}
@media (max-width: 900px) and (min-width:520px){
    body{
        margin: 1%;
    }
    .wrapper{
        gap: 3em;
        grid-template-columns: auto 20%;
        grid-template-areas: 
        "header header"
        "container mais_lidas"
    }
    .outras_noticias h3, .outras_noticias p{
        margin-top: 3%;
        text-align: justify;
    }
}
@media (min-width: 900px){
    body{
        margin: 3%;
    }
    .wrapper{
        gap: 5em;
        grid-template-columns: auto 20%;
        grid-template-areas: 
        "header header"
        "container mais_lidas"
    }
    .main-nav ul{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-content: center;
        border-radius: 4px    ;
        -webkit-border-radius: 4px    ;
        -moz-border-radius: 4px    ;
        -ms-border-radius: 4px    ;
        -o-border-radius: 4px    ;
}
    .titulo_destaque{
        display: grid;
        grid-template-columns: 30% 70%;
        gap: 1.3em;
    }
    .texto-destaque{
        margin-right: 80%;
    }
    .news_2{
        margin-left: 3%;
    }
    footer{
        text-align: center;
        margin-left: 40%;
    }
    .outras_noticias h3, .outras_noticias p{
        margin-top: 3%;
        text-align: justify;
    }
}
